.cajas-bordes{
    max-width: 100%;
    height: 450px;
    display: flex
}

.cajas-2{
    max-width: 100%;
    display: flex
}
h1{
    text-align: center;
}
.box-1{
    width: 600px;
    height: 600px;
    text-align: center;
}

.box-2{
    width: 600px;
    height: 600px;
    text-align: center;
}

.box-3{
    width: 600px;
    height: 600px;
    text-align: center;
}

.box-4{
    width: 600px;
    height: 600px;
    text-align: center;
}


.box-5{
    width: 600px;
    height: 600px;
    text-align: center;
}

.box-6{
    width: 600px;
    height: 600px;
    text-align: center;
}


.ferrari{
    width: 350px;
    height: 200px;
}

.nissan{
    width: 350px;
    height: 200px;
}

.pagani{
    width: 350px;
    height: 200px;
}

.mclaren{
    width: 350px;
    height: 200px;
}

.toyota{
    width: 350px;
    height: 200px;
}

.jesko{
    width: 350px;
    height: 200px;
}

