body{
    background-image: url("https://images.pexels.com/photos/371578/pexels-photo-371578.jpeg?cs=srgb&dl=pexels-pixabay-371578.jpg&fm=jpg");
    background-size:cover;
    margin: 0;
    padding: 0;
}
.cajas-bordes{
    max-width: 100%;
    height: 450px;
    display: flex
}

.cajas-2{
    max-width: 100%;
    display: flex
}
h1{
    text-align: center;
    color: aliceblue;
}
.box-1{
    width: 600px;
    height: 600px;
    text-align: center;
    font-size:large;
    color: aliceblue;
}

.box-2{
    width: 600px;
    height: 600px;
    text-align: center;
    font-size:large;
    color: aliceblue;
}

.box-3{
    width: 600px;
    height: 600px;
    text-align: center;
    font-size:large;
    color: aliceblue;
}

.box-4{
    width: 600px;
    height: 600px;
    text-align: center;
    font-size:large;
    color: aliceblue;
}


.box-5{
    width: 600px;
    height: 600px;
    text-align: center;
    font-size:large;
    color: aliceblue;
}

.box-6{
    width: 600px;
    height: 600px;
    text-align: center;
    font-size:large;
    color: aliceblue;
}


.ferrari{
    width: 350px;
    height: 200px;
}

.nissan{
    width: 350px;
    height: 200px;
}

.pagani{
    width: 350px;
    height: 200px;
}

.mclaren{
    width: 350px;
    height: 200px;
}

.toyota{
    width: 350px;
    height: 200px;
}

.jesko{
    width: 350px;
    height: 200px;
}

