/*body{
    background-image: url(https://images.immediate.co.uk/production/volatile/sites/3/2020/10/halloween_movie_michael_myers-f656e3c.jpg?quality=90&resize=620,414);
    background-position: center;
    background-repeat:  no-repeat;
    background-size: 100%;
    margin: 20%;
    overflow-y: hidden; /* Hide vertical scrollbar */

/*}
ol{
    font-size: 45px;
}
*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
}

h1{
    color: rgb(255, 255, 255);
    font-size: 80px;
    position: relative;
    z-index: 2;
}
ul li {
    display: inline-block;
    padding: 0px 60px;
    position: relative;
    z-index: 2;
    font-weight: 45px;
}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
a:hover{
    color: aquamarine;
}
 #hero{
    min-height: 100vh;
    position: relative;
 }
 video{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
 }

 .capa{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    mix-blend-mode: overlay;
 }