body{
    background-image: url("../Fonts/85172f8c8418f69be909693fc45b7b3a.jpg");
    background-size: cover;
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    font-size: 100px;
    font-weight: 100;
    color: azure;
}
.box-1{
    font-size: 50px;
    margin: 20%;
}

a {
    font-family: sans-serif;
    text-decoration: none;
    color: brown;
    background-color: blue;
    border-radius: 15px;
}

a:hover{
    color: white !important;;
}
