*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 90px;
    display: grid;
    background-color: #fff159;
    grid-template: "logo input-busqueda hamburguer-menu carrito" /
                    70px 1fr            40px            40px;
}
.logo{
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 90%;
    margin-top: 10px;
}
.box-input-busqueda{
    grid-area: input-busqueda;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-busqueda{
    border-radius: 20px;
    width: 90%;
    height: 40px;
    outline: none;
    border: none;
    padding: 0 30px;
    font-size: 1.3em;
}
.input-search{
    width: 80%;
    margin-left: 30px;
    margin-top: 25px;
    padding: 10px;
    outline: none;
    font-size: 1em;
    border-radius: 15px;
    border: none;
}
.hamburguer-menu{
    grid-area: hamburguer-menu;
   /*  background-color: blue; */
    display: flex;
    align-items: center;
}
.carrito{
    grid-area: carrito;
 /*    background-color: yellow; */
 display: flex;
    align-items: center;
}
.icon-header{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
}
.main-content{
    display: grid;
}
.box-producto{
    display: grid;
    grid-template: "box-img  box-info" /
                    3fr           4fr;
    height: 300px;
}
.box-img{
    grid-area: box-img;
    background-color: darkcyan;
}
.box-info{
    grid-area: box-info;
    background-color: goldenrod;
}
.img-auto{
    padding: 20px;
    width: 100%;
}
