*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

header{
    height: 90px;
    display: grid;
    background-color: #fff159;
    grid-template: "logo input-busqueda hamburguer-menu carrito" /
                    70px 1fr            40px            40px;
}
.logo{
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 90%;
    margin-top: 10px;
}
.box-input-busqueda{
    grid-area: input-busqueda;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-busqueda{
    border-radius: 20px;
    width: 90%;
    height: 40px;
    outline: none;
    border: none;
    padding: 0 30px;
    font-size: 1.3em;
}
.input-search{
    width: 80%;
    margin-left: 30px;
    margin-top: 25px;
    padding: 10px;
    outline: none;
    font-size: 1em;
    border-radius: 15px;
    border: none;
}
.hamburguer-menu{
    grid-area: hamburguer-menu;
    display: flex;
    align-items: center;
}
.carrito{
    grid-area: carrito;
 display: flex;
    align-items: center;
}
.icon-header{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
}

.box-producto{
    display: grid;
    grid-template: "box-img  box-info" auto "linea-div linea-div" /
                    3fr                       4fr;
    height: 200px;
}
.box-img{
    grid-area: box-img;
    position: relative;
}
.box-info{
    grid-area: box-info;
}
.img-auto{
    padding: 3px;
    width: 100%;
}

.marca{
    display: block;
}
.precio{
    display: block;
}

.box-corazon{
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 22px;
    background-color: rgb(255, 225, 225, .85);
    position: absolute;
    top: 0px;
    right: 20px;
}
.icono-corazon{
    color: rgb(0, 38, 255);
    font-size: 1.2em;
}
.linea-div{
    grid-area: linea-div;
    height:1px;
    width: 100%;
    background-color: black;
}


@media only screen and (min-width: 550px){
    .box-producto{
        font-size: 1.6em;
    }
    .marca{
        margin-top: 30px;
    }
}
@media only screen and (min-width: 600px){
    .main-content{
        background-color: rgb(230, 230, 230, .9);

        display: grid;
        grid-template: "box-filtro box-productos";
    }
    .box-productos{
        grid-area: box-productos;
    }
    .box-filtro{
        grid-area: box-filtro;
        width: 200px;
        height: 100vh;
    }
    .box-toggle{
        margin: 50px 0 0 50px;
        width: 120px;
        height: 60px;
        border-radius: 27px;
        background-color: rgb(120, 120, 120);
        display: flex;
        align-items: center;
        position: relative;
    }

    
    .box-toggle-on{
        background-color: rgb(120, 120, 120);
    }
    .box-toggle-off:hover{
        background-color: rgb(51, 131, 250);
    }
    .button-toggle-off{
        width: 54px;
        height: 54px;
        border-radius: 27px;
        background-color: rgb(48, 48, 48, .8);
        padding-left: 3px;
    }
    .button-toggle-on{
        width: 54px;
        height: 54px;
        border-radius: 27px;
        background-color: #fff;
        padding-left: 3px;
        position: absolute;
        right: 3px;
    }
    
}