*{
    padding: 0;
    margin: 0;
    color: whitesmoke;
    font-family: monospace;
 }
 .container{
    display: flex;
    height: 100vh;
 }
 .info{
    width: 280px;
    background-color: #1c2433e1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.programmer-name{
    padding-bottom: 15px;
}
.programmer-description{
    display: flex;
    width: 100%;
    border-radius: 10px;
    background-color: rgba(115, 255, 236, 0.274);
    margin-top: 15px;
}
p{
    line-height: 1.2em;
    font-size: 1.2em;
}
.icons-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    border-bottom: 1px rgb(124, 161, 155) solid;
}
.icono-contendedor{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #48ae7d;
    width: 38px;
    height: 35px;
    border-radius: 50%;
    margin-right: 12px;
    margin-left: 6px;
    transition: 1s;
}
.icono-contendedor:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #397255;
    width: 38px;
    height: 35px;
    border-radius: 50%;
    margin-right: 12px;
    margin-left: 6px;
    box-shadow: 2px 2px 15px 8px rgba(0, 0, 0, 0.397);
}

.vertical-list{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
li{
    display: flex;
    align-items:start;
    list-style: none;
    font-size: 15px;
    margin-left: 30px;
}
.iconos-informacion{
    font-size: 23px;
}
.icon-options{
    position: relative;
    top: -10px;
    color: aliceblue;
    font-size: 18px;
    padding: 8px 15px 8px 20px;
}

.codeWorks-btn{
    padding: 8px 15px 8px 15px;
    margin-left: 68px;
    margin-right: 68px;
    border: none;
    border-radius: 5px;
    background-color: #48ae7d;
}
.codeWorks-btn:hover{
    padding: 8px 15px 8px 15px;
    border-radius: 5px;
    background-color: rgba(115, 255, 236, 0.274);
}
a{
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
}
.paperPlane-icon{
    margin-right: 3px;
}

.personal-info{
    margin-bottom: 10px;
}
.personal-info .photo{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    display: block;
    margin: auto;
}


.front-page-container{
    display: grid;
    height: 100%;
    width: 100%;
    background-color: #1c2433;

    grid-template: "descripcion-parrafo programmer-picture" /
                    500px               530px;
}
.descripcion-parrafo{
    /* background-color: blue; */
    height: 400px;
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 10px;
}
h2{
    margin-bottom: 5px;
}
.viewPortfolio-btn{
    padding: 10px 15px 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #48ae7d;
    margin-top: 20px;
    margin-right: 10px;
    font-weight:900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.viewPortfolio-btn:hover{
    padding: 10px 15px 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #48ae7d98;
    margin-top: 20px;
    margin-right: 10px;
    font-weight:900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.viewResume-btn{
    padding: 10px 15px 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #454a53;
    margin-top: 20px;
    font-weight:900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.viewResume-btn:hover{
    padding: 10px 15px 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #898b8fb2;
    margin-top: 20px;
    font-weight:900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.programmer-picture{
    position: relative;
    left: 30px;
    top: -10px;
    height: 250px;
    margin-left: 100px;
    margin-top: 180px;
}
.programmer-pic{
    width: 90%;
    height: 120%;
    box-shadow: 5px 5px 15px 8px rgba(0, 0, 0, 0.808);
    border-radius: 10px;
}

.whatIDo{
    position: relative;
    top: -150px;
    margin-left: 50px;
    /* background-color: purple; */
}
.what-i-do{
    border-left: 6px solid #48ae7d;
    padding-left: 10px;
    margin-bottom: 10px;
}
.font-style{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* Responsive phone screen */
@media only screen and (max-width: 600px){ 

    body{
        width: 100%;
    }
    .container{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        
     }
     .info{
        width: 100%;
        background-color: #1c2433e1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .programmer-name{
        padding-bottom: 15px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    .programmer-description{
        display: flex;
        width: 100%;
        border-radius: 10px;
        background-color: rgba(115, 255, 236, 0.274);
        margin-top: 15px;
        padding: 10px 5px 10px 5px;
    }
    .icons-container{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 50px;
        border-bottom: 1px rgb(124, 161, 155) solid;
        margin-left: 10px;
    }
    .icono-contendedor{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #48ae7d;
        width: 38px;
        height: 35px;
        border-radius: 50%;
        margin-right: 20px;
    }
    .vertical-list{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }
    li{
        display: flex;
        align-items:start;
        list-style: none;
        font-size: 15px;
        margin-left: 30px;
    }
    .iconos-informacion{
        font-size: 23px;
    }
    .icon-options{
        color: aliceblue;
        font-size: 18px;
        padding: 10px 15px 10px 20px;
    }
    .codeWorks-btn{
        padding: 8px 15px 8px 15px;
        border: none;
        border-radius: 5px;
        background-color: #48ae7d;
    }
    .codeWorks-btn:hover{
        padding: 8px 15px 8px 15px;
        border-radius: 5px;
        background-color: rgba(115, 255, 236, 0.274);
    }
    a{
        text-decoration: none;
        font-size: 1.1em;
        font-weight: bold;
    }
    .paperPlane-icon{
        margin-right: 3px;
    }
    .personal-info{
        margin-bottom: 10px;
    }
    .personal-info .photo{
        width: 160px;
        height: 160px;
        border-radius: 50%;
        display: block;
        margin: auto;
    }
    

    .front-page-container{
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        background-color: #1c2433;
     
    }
    .descripcion-parrafo{
        height: 0px;
        margin-left: 20px;
        margin-top: 50px;
    }
    .viewPortfolio-btn{
        padding: 10px 15px 10px 15px;
        border: none;
        border-radius: 5px;
        background-color: #48ae7d;
        margin-top: 20px;
        margin-right: 10px;
        font-weight:900;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .viewPortfolio-btn:hover{
        padding: 10px 15px 10px 15px;
        border: none;
        border-radius: 5px;
        background-color: #48ae7d98;
        margin-top: 20px;
        margin-right: 10px;
        font-weight:900;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .viewResume-btn{
        padding: 10px 15px 10px 15px;
        border: none;
        border-radius: 5px;
        background-color: #454a53;
        margin-top: 20px;
        font-weight:900;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .viewResume-btn:hover{
        padding: 10px 15px 10px 15px;
        border: none;
        border-radius: 5px;
        background-color: #898b8fb2;
        margin-top: 20px;
        font-weight:900;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .programmer-picture{
        display: none;
        height: 200px;
       
    }
    .programmer-pic{
        width: 100%;
        height: 100%;
        box-shadow: 5px 5px 15px 8px rgba(0, 0, 0, 0.808);
        border-radius: 10px;
    }
    
    .whatIDo{
        position: relative;
        top: -120px;
        margin-left: 20px;
        margin-top: 400px;
    }
    .what-i-do{
        border-left: 6px solid #48ae7d;
        padding-left: 10px;
    }
    .font-style{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}