h1{
    color: brown;
}

table{
    border-collapse: collapse;
}

th{
    padding: 2px;
}

td{
    padding: 2px;
    text-align: center;
    border-right: 1px dashed rgb(97, 181, 214);
}

.ut{
    border-top: 1px solid black ;
}

.ub{
    border-bottom: 1px solid black ;
}

.image{
    height: 20px;
    width: 100px;
    padding: 1px;
}




